<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDEy5DQNKog7_W1QnZtNPeFlZ7G-gtPDpU</string>
	<key>GCM_SENDER_ID</key>
	<string>1066930465584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newzz.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>newzz-85f32</string>
	<key>STORAGE_BUCKET</key>
	<string>newzz-85f32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066930465584:ios:bfdb05fd7bd224bb9e76f5</string>
</dict>
</plist>